<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">

    <!-- Allure Listener -->
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Registration Test">
        <classes>
            <class name="tests.AddReviewTest"/>
            <class name="tests.ContactUsTest"/>
            <class name="tests.DeleteTest"/>
            <class name="tests.InvalidLoginNegativeScenarioTest"/>
            <class name="tests.LandingTest"/>
            <class name="tests.LoginTestHappyScenarioTest"/>
            <class name="tests.RegisterHappyScenarioTest"/>
            <class name="tests.RegisterNegativeScenario"/>
            <class name="tests.RegisterNegativeScenarioTest"/>
            <class name="tests.SearchAndVerifyTest"/>
            <class name="tests.TestCasesTest"/>
        </classes>
    </test>

</suite>
